.body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.center-container {
  background-color: aliceblue;
  display: grid;
  grid-template-areas:
    "sb sb mc mc"
    "sb sb mc mc";
  border-radius: 20px;
}
.sideBar {
  grid-area: sb;
  background-image: url("/assets/images/bg-sidebar-desktop.svg");
  margin: 10px 10px;
  padding: 50px;
  border-radius: 20px;
}
#section1 {
  grid-area: mc;
}
.forms {
  margin: 100px auto;
}
/* .center-container {

} */
