.body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.center-container {
  background-color: aliceblue;
  display: grid;
  grid-template-areas:
    "sb sb mc mc"
    "sb sb mc mc";
  border-radius: 20px;
}

/* Sidebar */
.sideBar {
  grid-area: sb;
  background-image: url("./images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
  padding: 0 19px;
  border-radius: 20px;
  counter-reset: section;
}
.sideBar ol {
  list-style: none;
  counter-reset: item;
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 0;

  justify-content: center;
}
.sideBar ol li::before {
  content: counter(item);
  counter-increment: item;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ccc;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
.sideBar ol li {
  margin-top: 30px;
}
.break-word {
  display: block;
  margin-left: 30px;
}

/* Section 1 -Your info */
#section1 {
  grid-area: mc;
  margin: 10px 0 0 50px;
  padding: 20px 40px 40px 40px;
}
#section1 form {
  margin: 50px auto 100px;
}
.tab {
  margin-top: 20px;
}

.button-sect {
  display: flex;
  justify-content: flex-end;
}

/* .center-container {

} */
